@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .gradient-bg {
        @apply relative overflow-hidden;
        height: 100vh;
        background: linear-gradient(-45deg, #111827, #2b287a, #2b287a, #111827);
        background-size: 400% 400%;
        animation: gradientBG 15s ease infinite;
    }

    @keyframes gradientBG {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }
}